$main-text-color: rgb(21, 51, 61);
$button-color: rgb(188, 198, 186);
$button-background: rgb(76, 99, 70);
$link-color: rgb(138, 153, 135);

@mixin font-styling {
    color: $main-text-color; 
    font-size: 12px;
    margin: 10px 0 10px 7%;
}

body {
    margin: 0;
    background-color: rgb(188, 198, 186);
    font-family: sans-serif;
    font-weight: 200;
}
.left-side {
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 252, 248);
    margin: 0;
    padding: 0;
    h3 {
        text-align: center;
        color: $main-text-color;
        display: inline-block;
    }
    h4 {
        text-align: center;
        font-size: 12px;
        color: $main-text-color;
        display: inline-block;
    }
    header {
        display: fixed;
        text-align: center;
        width: 100%;
        height: 15%;
    }
    .details {
        font-weight: bold;
        @include font-styling;
        margin: 10px 0 10px 7%; 
    }
    #email {
        margin-left: 7%;
    }
    #password {
        margin-left: 7%;
    }
    .remember {
        font-size: 10px;
        color: $main-text-color;
        margin: 10px 0 10px 7%;
        font-weight: bold;
    }
    .forgot-password {
        padding: 10px;
        font-size: 12px;
        color: $link-color;
    }
    #signin {
        background-color: $button-background;
        color: $button-color;
        display: block;
        text-align: center;
        width: 100%;
        border-color: $button-color;
        border: 10px;
        border-radius: 5px;
        padding: 8px;
        transform: translateX(15px);
        margin: 0;
    }
    .noaccount {
        @include font-styling;
    }
    .signup {
        padding: 10px;
        text-decoration: none;
        font-size: 12px;
        color: $link-color;
    }
}




/*Small Devices */
// @media screen and (max-width 600px) {
//     #left-side {
//     #footer {
//         display: none;
//     }
//     #header {
//         display: none;
//     }
// }
// }

// /* Medium Devices */
// @media screen and (min-width: 800px) {
//     #footer {
//         width: 50vw;
//         height: 10%;
//         display: block;
//     }
// }


/* Computers */

